<div class="row">
  <div class="col text-center">
    <img src="assets/img/{{ attempts }}.png" alt="ahorcado-img" srcset="" />
    <h3>
      Intentos <small>{{ attempts }}/ {{ attemptsLimit }}</small>
    </h3>
  </div>
</div>

<div class="row">
  <div class="col text-center">
    <h1>{{ hideWord }}</h1>
  </div>
</div>

<div class="row" *ngIf="winner">
  <div class="col text-center">
    <h1>Felicidades ganaste!!!!</h1>
    <h4>😁</h4>
  </div>
</div>

<div class="row" *ngIf="losser">
  <div class="col text-center">
    <h1>Lo siento, perdiste 😔</h1>
    <h4>{{ word }}</h4>
  </div>
</div>

<div class="row" *ngIf="!losser && !winner">
  <div class="col text-center">
    <ng-container *ngFor="let letra of genCharArray()">
      <button (click)="check(letra)" class="btn btn-primary m-2">
        {{ letra.toUpperCase() }}
      </button>
    </ng-container>
  </div>
</div>
